@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
    
.navbar{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.navbar a {
   text-decoration: none;
   color: black;
   padding: 5px 10px;
   margin: 5px 5px;
  }

.nav-right{
   overflow: hidden;
   float: right;
   text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
.nav-right a{
    float: right;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
